@import "tailwindcss";
*, *::before, *::after {
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}

#three {
  flex-direction: column;
  display: flex;
  height: 100svh;
  width: 100svw;
}